.DetailPanel {
  flex-basis: 60%;
  height: 100vh;
  padding: 35px;
  font-family: Roboto-Bold;
  font-size: 20px;
  color: #00345B;
  letter-spacing: 0;
  line-height: 20px;
}

.DetailPanel h2 {
  font-size: 20px;
}
