.MenuPanel {
  flex-basis: 40%;
  height: 100vh;
  box-shadow: 2px 0 5px #ccc;
  z-index: 2;
  padding: 35px;
  font-family: Roboto;
}

.MenuPanel h1 {
  font-size: 30px;
  text-transform: uppercase;
}
.MenuPanel .description {
  font-weight: 100;
  color: #ababb1;
}

