.MenuPanel {
  flex-basis: 40%;
  height: 100vh;
  box-shadow: 2px 0 5px #ccc;
  z-index: 2;
  padding: 35px;
  font-family: Roboto;
}

.MenuPanel h1 {
  text-transform: uppercase;
  font-family: Roboto-Bold;
  font-size: 30px;
  color: #2F2D3C;
  letter-spacing: 2.14px;
}
.MenuPanel .description {
  font-family: Roboto-Regular;
  font-size: 20px;
  color: #ABABB1;
  letter-spacing: 0;
  line-height: 29px;
}

