.AppView {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  width: 100%;
  width: 100vw;
  height: 100vh;
}

.AppView > .container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: red;
}

.AppView > .container > .container {
    box-shadow: none;
}

