@import "./_vendor";
@import "./_variables";
// @import "./listComponent";
// @import "./search";
// @import "./modal";
@import "./src/views/AppView/AppView";
@import "./src/components/Button/Button";
@import "./src/components/Container/Container";
@import "./src/components/Header/Header";
@import "./src/components/Logo/Logo";
@import "./src/components/CurrentUser/CurrentUser";
@import "./src/components/HelpLink/HelpLink";
@import "./src/components/ProfileImage/ProfileImage";
@import "./src/components/AdminPanel/AdminPanel";

html {
  box-sizing: border-box;
}
*,*:before,*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// better scrollbars for webkit on Windows
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

[aria-label=grid]:focus,
[role=grid]:focus {
  outline: none;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
