$header-height: 52px;
$brand-primary-blue: #54b0cb;
$brand-navy-blue: #044062;
$brand-gray: #707170;
$brand-cool-gray: #dad8d6;
$brand-neutral-brown: #4c4845;
$brand-red: #ab2b28;
$brand-orange: #e15829;
$brand-yellow: #f4ce3c;
$brand-green: #aacf76;
$brand-secondary-blue: #00657f;
$brand-red-on-grey: #ff5f5c;
